<div class="container-temas">

  <div class="search"></div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ pageTitle }}</mat-card-title>
      <mat-card-subtitle>{{ pageSubTitle }}</mat-card-subtitle>
    </mat-card-header>


    <div class="filters">
      <div class="search">
        <mat-form-field appearance="outline">
          <mat-label>Buscar</mat-label>
          <input matInput type="text" search (keyup)="setFilter($event)" placeholder="Digite o o termo" #input>
        </mat-form-field>
      </div>

      <div class="add-container">
        <button mat-flat-button (click)="openDialog('add', 'Novo Tema')">
          <mat-icon>add</mat-icon>
          adicionar
        </button>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="tableData" matSort>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="modulo">
          <th mat-header-cell *matHeaderCellDef> Módulo </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.modulo && element.modulo.length && login.profileUsuario != 2">
              {{element.modulo[0].nome}}
            </ng-container>
            <ng-container *ngIf="login.profileUsuario == 2">
              {{element.nomeModulo}}
            </ng-container>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Ativo </th>
          <td mat-cell *matCellDef="let element"> {{ element.ativo == 1 ? 'Sim' : 'Não' }} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action" class="action-col">
          <th mat-header-cell *matHeaderCellDef> Ação </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a class="edit" (click)="openDialog('update', element)"><mat-icon>edit</mat-icon></a>
            <a class="delete" (click)="openDialog('delete', element)"><mat-icon>cancel</mat-icon></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

        <tr *matNoDataRow>
          <td class="mat-cel" colspan="4"><p>Nenhum resultado para "{{input.value}}"</p></td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>

  </mat-card>
</div>

<ng-template #naoDefinido>
  <span class="text-secondary">
    Não definido
  </span>
</ng-template>
