
.home-card-container{
  margin: 10px;

  img {
    width: 200px;
    height: 100px;
    margin: 5px;
  }
}

.not-found-image {  
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}
